.p-todo {
	&__title {
	}
	&__add {
		&-content {
			&-input {
			}
			&-btn {
				#todo_btn {
				}
			}
		}
	}
	&__main {
    display: flex;
		&-list {
      width: 400px;
      min-height: 100px;
      padding: 20px 0;
      background-color: lightblue;

      &.-complete {
        background-color: lightgrey;
      }

      &-item {
        width: 85%;
        margin: 0 auto 10px;
        padding: 12px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 1px,1px,1px,#000;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
		}
	}
}